<style type="text/css">
	html, body {
		height: 100%;
	}
</style>

<div id="wrapper">

	<%= render "sidebar" %>

	<%= render "header" %>

	<div class="landing_text_area " >
			<h3> Start off by booking </h3>
			<h3 style="margin-bottom: 15px"> your first Taila! </h3>
		<ul class="landing_buttons_container">
			<li><button class="blue-button">Explore Styles</button></li>
			<li><button class="green-button">Book a Taila</button></li>
		</ul>
	</div>

	<%= render "footer" %>

</div>