<header id="header">
	<nav id="primary_nav_wrap">
		<ul>
			<li><button class="header_button">Explore</button></li>
			<li> <a href="#"><div class="bell-icon"> <%= icon('bell') %> </div> </a>
				<ul>
					<% if user_signed_in? %>
					  <li>
					  <%= link_to('Edit Profile', edit_user_registration_path) %>        
					  </li>
					  <li>
					  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
					  </li>
					<% end %>
				</ul>
			</li>	
		</ul>
	</nav>
</header>
