<header id="header">
	<p class="header-logo"><span style="color:#67C3EC">SHEHU</span>TAILA</p>
	<% if user_signed_in? %>
	  <li>
	  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
	  </li>
	  <li>
	  <%= link_to('Edit', edit_user_registration_path) %>        
	  </li>
	<% else %>
	  <li>
	  <%= link_to('Login', new_user_session_path)  %>  
	  </li>
	<% end %>
	<ul>
		<li><button class="header_button">Explore</button></li>
		<li> <div class="bell-icon"> <%= icon('bell') %> </div> </li>
	</ul>
</header>
