<div class ="three columns sidebar-container" style="margin: 0;">
	<div class="logo-caption">
		<div class="logo" ></div>
 	</div>
 	<div class="full-profile-data">
 		<div class="margin-auto"> <%= image_tag ("kanye.jpg"), :class => "images" %> </div>
 		<h6>Kanye West</h6>
 		<p>@kanyeezy</p>
 	</div>
</div>