<div class="row full-height" >

	<div class="three left-panel columns" >
		<div class="mini-logo" >
			<h5 href="#">
				S<span>T</span>
			</h5>
		</div>

		<div class="user-info" >
			
			<%= image_tag("kanye.jpg") %>
			<h4 class="user-name" >Kanye West</h4>
			<p class="user-handle" >@kanyeezy</p>
		</div>

		

		
		


	</div>


	<div  class="nine main-content-panel columns" >

		<div class="header-section" >							
		<div class="row" >
				<div class="nine columns" >
					<div class="logo" >
						<h6>Shehu<span>Taila</span></h6>
					</div>
				</div>

				<div class="three columns" >
					<div class="nav-container" >
						<ul>
							<li class="nav-item" ><a href="" class="nav-button " >explore</a></li>
							<li class="nav-item" ><a href=""><%= icon('bell') %></a></li>
						</ul>
					</div>	
				</div>
		</div>
		</div>

		<div class="body-section" >
			<div class="form-container" >
				<form>	
					<select name="select">
					  <option value="value1">Value 1</option> 
					  <option value="value2" selected>Value 2</option>
					  <option value="value3">Value 3</option>
					</select>
				</form>
				
			</div>			
		</div>


		
	</div>


	
</div>