<p style="border-bottom: 1px solid red; padding-top: 20px;" >
	<span style="vertical-align: text-top;" >Style: Ankare Material: Kuki Size: Bi</span> <a style="padding: 5px 20px; border-radius: 2px; border : 1px solid blue; vertical-align: 6px;" href="#">Delivered</a>
</p>