<div style="text-align: center">

<h1>MY PROGRESS</h1>
	
<p> <a href="/signup">"SignUp" landingpage10</a>  Responsive</p>
<p> <a href="/signin">"Signin" Signin</a> Responsive </p>
<p> <a href="/dashboard">"Dashboard" landingpage9</a> Responsive </p>

</div>