/************* 
  VARIABLES
*************/

/* Colors */

$dark_blue: #202330;
$medium_gray: #A8B2BF;
$light_gray: rgba(130,143,153, 0.50);
$light_black: rgba(130,143,153, 0.20);
$gray: #939FAB;
$dark_gray: #474D62;
$dark_purple: #222533;
$grey_purple: #434655;
$handle_color: #858DA7;
$light_blue: #67C3EC;
$green: #A0EA4F;
$letter-spacing: 2px;
$responsive_blue: #474D62;

/* Breakpoints */

$breakpoint_550: 549px;
$breakpoint_850: 850px;

/******************************************* 
              DASHBOARD STYLES  
********************************************/

/********************* 
  ADMIN STYLES
*********************/
.admin-sidebar {
  background-color: $dark_blue;
  height: 100%;

  ul {
    margin-top: 50px;
  }

  ul li a {
    text-decoration: none;
  }
}
.sidebar-header {
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
}

/********************* 
  COMPONENTS STYLES
*********************/

#wrapper {
  height: 100%;
  min-width:100%;
  position:relative;
}

/**** SIDE BAR STYLES ****/

.sidebar-container {
  height: 100%;
  background-color: $dark_blue;
  float: left;
}

.logo-caption {
  padding-top: 15px;
}

.full-profile-data {
  width: 100%;
  height: 150px;

  p {
    color: $handle_color;
    font-size: 0.9em;
    margin: 0;
    text-align: center;
  };

  h6 {
    color: $light_gray;
    text-align: center;
    margin: 0;    
    font-size: 17px;
  };

}

.margin-auto {
  margin-top: 20px;
  width: 100%;
}

.images {
  display: block;
  border-radius: 35px;
  width: 70px;
  height: 70px;
  margin: auto;
  background: no-repeat center center;
  background-attachment: scroll;
}

.username_container {
  color: #fff
}

.recents-modal {
  height: 215px;
  width: 80%;
  color: $gray;
  padding: 0 10%;

  hr {
    margin: 0;
    border-top: 1px solid $dark_gray;
  }

  h6 {
    margin:0;
  }
}

.shared-modal {
  height: 215px;
  width: 80%;
  color: $gray;
  padding: 0 10%;

  hr {
    margin: 0;
    border-top: 1px solid $dark_gray;
  }

  h6 {
    margin:0;
  }
}

.center {
    text-align: center;
}
.dots, .dots:before, .dots:after {
    width: 4px;
    height: 4px;
    background: $dark_gray;
    border-radius: 50%;
}
.dots{
    margin: 0 auto;
    position: relative;
    display: inline-block;
}
.dots:before {
    content: '';
    position: absolute;
    left: -10px;
}
.dots:after {
    content: '';
    position: absolute;
    right: -10px;
}

/**** LANDING PAGE STYLES ****/

.landing_page_width {
  width: 78%; 
  float: left;
}

/* HEADER STYLES */

header {
  border-bottom: 0.5px solid $light_black;
  height: 50px;
}

header ul {
  float: right;
  list-style: none;
  display: inline-block;
  margin: 7px 0 0 0;
}

header li {
  float: left;
  margin: 5px 20px 0 20px;
}

.header_button {
  width: 70px;
  height: 30px;
  font-size: 9px;
  text-align: center;
  line-height: 20px;
  padding: 0 10px;
  letter-spacing: 0.5px;
  margin: auto;
  border: 0.3px solid $light_gray;
  color: $gray;
  background-color: transparent;
}

.header-logo {
  position: absolute;
  top: 0; 
  left: 50%;
  margin-top: 15px;
  font-size: 0.9em;
  font-weight: bolder;
}

#primary_nav_wrap ul
{
  list-style:none;
  position:relative;
  float:right;
  margin: 0;
  padding:10px 40px 0 0;
}

#primary_nav_wrap ul a
{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:12px;
  line-height:32px;
  padding:0 15px;
}

#primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
  background:#ddd
}

#primary_nav_wrap ul li:hover
{
  background:#f6f6f6
}

#primary_nav_wrap ul ul
{
  display:none;
  width: 20px;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}

#primary_nav_wrap ul ul li
{
  float:none;
  width:100px
}

#primary_nav_wrap ul ul a
{
  line-height:120%;
  padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
  top:0;
  left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block
}

/* LANDING PAGE TEXT STYLES  */

.landing_text_area {
  margin: 20% 15% 15% 35%;
}

.landing_text_area h3 {
  margin: 0;
  color: $light_gray;
  font-weight: 300;
  letter-spacing: 2.25px
}

.landing_buttons_container {
  display: inline-block;
  list-style: none;
}

.landing_buttons_container li {
  float: left;
  margin: 0 5px 0 0;
}

.blue-button {
  background-color: $light_blue;
  color: white;
  border: none;
}

.green-button {
  background-color: $green;
  color: white;
  border: none;
}

/* FOOTER STYLES */

#footer {
  width:100%;
  height:20px;
  position:absolute;
  bottom:0;
  left:0;
}

.footer_copyright {
  text-align: center;
  color: $gray;
  text-transform: uppercase;
  font-size: 10px;
}

/********************* 
  RESPONSIVE STYLES 
*********************/

/* For devices larger than 550px */
@media (max-width: $breakpoint_550) {

  .sidebar-container {
    height: 40%;
    background-color: $dark_blue;
    float: left;
    position: relative;
  }

  header {
  border-bottom: 0.5px solid $dark_blue;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  }
  
  #wrapper {
  height: 100%;
  min-width:100%;
  position:absolute;
  top:0;
  }

  .header-logo {
    position: absolute;
    left: 100%;
  } 

  .header_button {
  width: 70px;
  height: 30px;
  font-size: 9px;
  text-align: center;
  line-height: 20px;
  padding: 0 10px;
  letter-spacing: 0.5px;
  margin: auto;
  border: 0.3px solid $responsive_blue;
  color: $gray;
  }

  .bell-icon {
    color: white;
  }

  .landing_text_area {
  margin: 80% 15% 15% 15%;
  }

  #primary_nav_wrap ul li:hover
  {
    background: $responsive_blue;
  }
  
  #primary_nav_wrap ul li:hover > ul
  {
    display:block;
    background-color: transparent;
  }

  #primary_nav_wrap ul a
  {
    color: $light_gray;
  }
}

/******************************************* 
             SIGNUP SIGNIN PAGE STYLES  
********************************************/

.background-image {

  background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(30, 38, 53, 0.85), 
      rgba(30, 38, 53, 0.85)
    ),
    /* bottom, image */
    url(suit.jpg);
}

.checkbox-field {
  color: $light_gray;
  width: 100%;
  display: inline-block;
  margin: 10px 40% 0 35%;
}

.float-left {
  float: left;
  margin-bottom: 0;
}

.check-label {
  margin-left: 10px;
}

.check {
  margin-top: 6px;
}

.shared-links {
  margin-left: 35%;
}

.button {
  background-color: $light_blue;
  border: 0;
  color: white;
}

.reg-button-margin {
  margin: 10px 45% 0 45%;
}

.button2 {
  background-color: $light_blue;
  border: 0;
  color: white;
  margin: 10px 45% 0 35%;
}

/******************************************* 
             FRONT PAGE STYLES  
********************************************/

/* Modal styles */

.modals-container {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.trad-modal {
  width: 85%;
  height: 100px;
  float: right;

  hr {
    margin:0;
  }
}

.trad-modal-header {
  height: 30%;
  width: 100%;

  p {
    color: $medium_gray;
    margin: 0;
    float: right;
    font-size: 11px;
    margin: 1% 0 1% 0;
  }

  h5 {
    color: $gray;
    margin: 0;
    float: left;
    font-size: 2rem;
  }
}
.trad-modal-prize {
  height: 30%;
  width: 100%;

  p {
    margin: 0;
    line-height: 0.5;
    font-weight: bold;
    color: $gray;
    font-size: 15px;
  }
}
.trad-modal-description {
  height: 40%;
  width: 100%;
  position: relative;

  ul {
    list-style-type: none;
    position: absolute;
    bottom: 0;
    margin: 0;
  }

  li {
    float: left;
    display: inline-block;
    margin: 0 50px 0 0;
    font-size: 12px;
    color: $medium_gray;
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
  }
}

/******************************************* 
             DETAILS STYLES  
********************************************/

.details-modal {
  width: 85%;
  height: 100%;
  padding-left:20%;

  h6 {
    color: $gray;
    margin: 0;
  }
}  

.vr {
  position: absolute;
  left: 30%;
  height: 100%;
  width: 1px;
  background-color: $light_gray;
  z-index: -1;
}

.circle_bullets {
  position: absolute;
  left: 29.58%;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid $light_gray;
  background-color: white;
}

.delivery-modal {
  width: 50%;
  height: 55px;
  border-radius: 2px;
  border: 1px solid $light_gray;
}

.small_button {
  width: 100px;
  height: 30px;
  font-size: 9px;
  text-align: center;
  line-height: 20px;
  padding: 0 10px;
  letter-spacing: 0.5px;
  margin: auto;
  border: 0.3px solid $light_gray;
  color: $gray;
}

.pick-type {
  margin-bottom: 30px;
}

.pick-size {
  width: 100%;
  height: 80px;
}

.pick-material {
  width: 100%;
  height: 80px;
}

.pick-style {
  width: 100%;
  height: 80px;
}

.drop-note {
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
}

.delivery-type {
  width: 100%;
  height: 80px;

  ul{
    padding: 5px 0 5px 20px;
  }

  li {
    list-style-type: none;
  }
}

/******************************************* 
             SEARCH STYLES  
********************************************/

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(71,71,85,0.85); /*dim the background*/
  color: $light_gray;
}

.overlay-container {
  width:65%;
  height: 100%;
  margin-left: 30%;
/*  background-color: blue;
*/}

.search-header {
  width: 66%;
  padding: 30px 16%;
  font-size: 13px;
  font-weight: bold;

  ul {
    display: inline-block;
    margin: 0;
  }

  li {
    list-style-type: none;
    float: left;
    margin: 0 50px;
  }

  hr {
    margin: 0;
    border-top: 1px solid #767982;
  }
}

.search-modal {
  input {
    width: 60%;
    margin: 0 20%;
    text-align: center;
    font-size: 12px;
    background: transparent;
    border: none;
    border-bottom: 0.1px solid #767982;
  }
}

.search-results-container {
  width: 100%;
  height: 60%;

  .search-results-box {
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 8px 0;
    float: left;
    border-radius: 5px;
    margin: 40px 30px 0;

    .search-results {
      width: 80%;
      height: 70%;
      margin: 0 10% 0 10%;
      border-radius: 5px;
      background-color: $light_gray;
    }
  }
}

/******************************************* 
             STYLE EXAMPLE STYLES  
********************************************/
.style-example-container {
  margin-top: 70px;
  width: 80%;
  height: 60%;
}

.style-example {
  
}

.example-large-picture {
  width: 60%;
  height: 90%;
  background-color: white;
  float: left;
  color: $light_gray;
  text-align: center; 
}

.example-small-picture {
  width: 10%;
  height: 10%;
  margin: 0 100px 30px 30px;
  background-color: white;
  float: left;
  color: $light_gray;
  text-align: center; 
}

/******************************************* 
             STATUS STYLES  
********************************************/
.status-container {
  width: 50%;
  float: right;
  margin: 10% 10% 0 0;

  button {
    margin: 0 42%;
  }
}

.circle-icon {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid $light_gray;
  text-align: center;
  color: $light_gray;
}

.status-description {
  text-align: center;
  color: $gray;
}

.status-meter-box {
  width: 60%;
  height: 40px;
  border-radius: 25px;
  background-color: $light_gray;
  margin:auto;
}

.status-meter {
  width: 50%;
  height: 100%;
  border-radius: 25px;
  background-color: #6677DC;
}

.status-footer {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: $light_blue;
}

/******************************************* 
              DEVISE STYLES  
********************************************/

#error_explanation {
  color: $light_blue;
  text-align: center;

  h2 {
    font-size: 20px;
    font-weight: bold; }

  p {
    font-size: 10px;
    font-weight: bold;
  }
}

// IPALIBO'S STYLES

.mylist{
  letter-spacing: 2px;
  font-weight: 300;
}

button{
  &.blue-button{
    padding: 0px 10%;
  }
}

